.footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(26, 20, 18);
    color: white;
    position: absolute;
    bottom: -1000px;
    width: 100%;
}
.top-right{
    position: absolute;
    top: 100px;
    background-color: none;
    margin-left: 20%;
    margin-right: 20%;
    font-size: flex;
    
}


body{
    background-color:  rgba(124, 237, 252, 0.342);
    font-family: comic sans MS; 
    color: rgb(141, 0, 0); 
}
.img{
    width: 30% 30%;
}
.title{
    color: rgb(156, 1, 1);
    text-align: center;
    font-family: comic sans MS;
    font-size: 300%;
}
.t2{
    color: rgb(128, 10, 10);
    font-family: comic sans MS;
    font-size: 110%;

}

.selektor3 {
    font-family: Verdana;
}


.p {
    font-size: 18px;
    color: black;
}
.header {
    display:block;
    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    z-index: 20;

}

    
.logo{
    width: 12%;
    min-width: 50px;
    left: 0em;
    top: 0em;
    max-width: 70Px;
    
}
    
.button{
    color: rgb(128, 10, 10);
    padding: 2px;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    text-align: center; 
    border: white;
    border-right: 10px;
    border-left: 10px; 
    margin-top: 15px;
    max-width: 100px; 
    width: 18%;

    
    
}
li:hover{
    font-size: 120%;

}
.mapouter{
    text-align:center;
    position: absolute;
    box-shadow: inset;
    ;  
}

.gmap_canvas {
    overflow:hidden;
    background: none;
}   

.suchfeld{
    margin: 10px;
    border-color: rgb(148, 2, 2);
    position: fixed;
    right: 20px;
    margin-left: 350px;
    max-width: 300px;
    width: 20%;

}
.inhaltsbox{
    position: absolute;
    margin: 2%;
    border: 4px black;
    width: 96%;
}
.box{
    width: 29%;
    min-width: 200px;
    height: 6cm; 
    color: rgb(128, 10, 10);
    border:20px ;
    float: left; 
    margin: 2%;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-bottom: 3.33333%;
    
}
.i{
    position: fixed;
    right: 40px;
    top: 18px;
}

.unititel{
    font-size: 40;
    color: rgb(151, 0, 0);
    margin-left: 3%; 
}
a1{
    background-color: rgba(124, 237, 252, 0.15);

}
a2{
    text-align: center;
}