    .light{
        --primeColor:#ECD5BB;
        --boxColor: white;
        --secondColor: rgb(1, 65, 65);
        --textColor: #a70f04;
        --titelColor: white;
        --bannerColor: rgba(189, 33, 33, 0.685);
        --linkColor: #4c6591;
        --navColor: rgb(134, 4, 4);
        
    }
    .dark{
        --primeColor: rgba(0, 0, 0, 0.719);
        --boxColor: rgba(0, 0, 0, 0.719);
        --secondColor: rgba(255, 0, 0, 0.692);
        --textColor:#ffffff;
        --titelColor:white;
        --bannerColor:rgba(0, 0, 0, 0.719);
        --linkColor: rgba(255, 0, 0, 0.692); 
        --navColor: rgb(54, 2, 2);
        
    }
body{
    background-color: var(--primeColor);
    font-family: comic sans MS; 
    color: var(--textColor);
    
}
.modebtn {
    float: right;
    background-color: var(--primeColor);
    color: var(--textColor);
    margin-top: 1em;
    margin-right: 5%;
}
.top-right{
    position: absolute;
    top: 100px;
    background-color:var(--bannerColor);
    font-size: 150%;
    width: 100%;
    height: 100px;
    color: var(--titelColor); 
}


.title{
    font-family: comic sans MS;
    width: 80%;
    margin-top: 20px;
    position: center;
    margin-left: 15%;

}

.header {
    display:block;
    position: fixed;
    top: 0px;
    background-color:white;
    width: 100%;
    height: 60px;
    z-index: 20;
}

.nav{
    float: left;
    padding: 2px;
    font-size: 100%;
    text-align: center; 
    border-right: 10px;
    border-left: 10px; 
    max-width: 110px; 
    width: 18%;
    left: 80px; 
    max-height: max-content;
    margin-top: 12px;
}
.logo{
    width: 15%;
    min-width: 60px;
    left: 0em;
    top: 2%;
    max-width: 80Px;
    position: fixed; 
    margin-right: 20px;  
}

.mapouter{
    text-align:center;
    position: absolute;
    box-shadow: inset; 
}

.gmap_canvas {
    overflow:hidden;
    background: none;
}   

.inhaltsbox{
    position: static;
    margin: 2%;
    width: 96%;
}

.box{
    width: 29%;
    min-width: 300px;
    height: fit-content; 
    color: var(--textColor);
    border:20px ;
    float: left; 
    margin: 2%;
    padding: 20px;
    background-color: var(--boxColor);
    box-sizing: border-box;
    margin-bottom: 3.33333%;
    font-size: medium;
}

.gbox{
    width: 66%;
    height: 5cm;
    color: var(--textColor);
    background-color: var(--boxColor);
    margin-top: 2%;
    float: left; 
    margin-bottom: 3.333%;
    font-size: medium;
}

.unititel{
    font-size: 40;
    color:var(--textColor);
    margin-left: 3%; 
}
.hbox{
    left: 80px;
}
.welcome{
    text-align: center;
    font-size:large;
    margin: 50px;
}
hr{
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    margin-bottom: 50px;
    color: var(--textColor)
}
.boximg{
    width: 100%;
}

.footer {
    text-align: center;
    background-color: rgb(26, 20, 18);
    color: var(--titelColor);
    position: absolute;
    bottom: -10000px;
    width: 100%;
    left: 0px;
}